# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_df = pd.read_csv("city_data_export.csv")
city_df.drop(['Unnamed: 0'], axis=1)
city_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,dikson,73.51,80.55,-2.18,92.0,100.0,24.43,RU,1.609809e+09
1,1,rikitea,-23.12,-134.97,76.82,74.0,30.0,17.72,PF,1.609808e+09
2,2,jimo,36.39,120.46,28.99,62.0,0.0,11.18,CN,1.609808e+09
3,3,harper,4.38,-7.72,78.76,83.0,75.0,7.31,LR,1.609809e+09
4,4,kijang,35.24,129.21,32.00,71.0,40.0,6.93,KR,1.609808e+09
...,...,...,...,...,...,...,...,...,...,...
590,590,bud,39.45,-86.18,33.01,92.0,100.0,3.60,US,1.609809e+09
591,591,tyukhtet,56.54,89.30,-25.47,86.0,39.0,3.31,RU,1.609809e+09
592,592,fort frances,48.60,-93.40,26.01,92.0,1.0,4.70,CA,1.609809e+09
593,593,sibolga,1.74,98.78,79.95,71.0,97.0,1.70,ID,1.609809e+09
594,594,pietarsaari,63.65,22.68,25.00,92.0,90.0,3.36,FI,1.609809e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [73]:
locations = city_df[['Lat','Lng']]
weights= city_df['Humidity']

fig = gmaps.figure(map_type="TERRAIN",center=(40,15),zoom_level=2)

heat_layer = gmaps.heatmap_layer(locations,
                                 weights=weights, 
                                 dissipating=False, 
                                 max_intensity=10,
                                 point_radius=1,
                                 )

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [70]:
narrow_df = city_df.loc[(city_df['Max Temp']>=70) & 
                        (city_df['Max Temp']<= 85) & 
                        (city_df['Wind Speed']< 10) &
                        (city_df['Humidity']< 80) &
                        (city_df['Cloudiness']< 20)
                        ]
narrow_df.dropna()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
21,21,santa fe,-31.63,-60.70,82.00,41.0,12.0,5.44,AR,1.609809e+09
81,81,salalah,17.02,54.09,71.60,35.0,0.0,4.70,OM,1.609809e+09
101,101,kapaa,22.08,-159.32,78.80,74.0,1.0,9.17,US,1.609809e+09
170,170,busselton,-33.65,115.33,73.00,54.0,0.0,3.00,AU,1.609809e+09
245,245,cabo san lucas,22.89,-109.91,73.40,46.0,5.0,5.82,MX,1.609809e+09
247,247,tuxpan,19.55,-103.40,77.00,65.0,5.0,2.91,MX,1.609809e+09
248,248,carnarvon,-24.87,113.63,78.80,78.0,0.0,6.93,AU,1.609809e+09
263,263,bull savanna,17.89,-77.59,72.10,79.0,0.0,6.96,JM,1.609809e+09
302,302,mier,26.43,-99.15,73.00,35.0,1.0,5.55,MX,1.609809e+09
313,313,kapoeta,4.77,33.59,78.73,41.0,0.0,6.98,SS,1.609809e+09
314,314,lazaro cardenas,17.96,-102.20,76.87,74.0,0.0,7.29,MX,1.609809e+09
321,321,armeria,18.93,-103.97,80.60,65.0,5.0,3.42,MX,1.609809e+09
341,341,acapulco,16.86,-99.89,82.40,78.0,5.0,9.17,MX,1.609809e+09
407,407,jeremie,18.65,-74.12,74.10,69.0,0.0,3.83,HT,1.609809e+09
423,423,manga,11.66,-1.07,75.60,19.0,0.0,6.29,BF,1.609809e+09
425,425,baracoa,20.35,-74.50,73.06,77.0,0.0,2.57,CU,1.609809e+09
493,493,anahuac,27.23,-100.15,78.80,22.0,5.0,5.82,MX,1.609809e+09
498,498,berbera,10.44,45.01,74.68,75.0,6.0,5.21,SO,1.609809e+09
509,509,collie,-33.37,116.15,71.01,49.0,0.0,3.00,AU,1.609809e+09
569,569,lamu,-2.27,40.90,78.80,78.0,1.0,5.82,KE,1.609809e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [72]:
radius = 5000 #meters
location_type = 'hotel'

nearby_url = f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={city_df['Lat']},{city_df['Lng']}&radius={radius}&type={location_type}&keyword=cruise&key={g_key}"

In [ ]:
hotel_df = []

for city in narrow_df:
    response = requests.get(query_url + city).json()
    lat.append(response['coord']['lat'])
    temp.append(response['main']['temp'])

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure